<div class="container">
  <div class="row columns">
    <div class="banner bg-secondary">
      <div class="banner__icon">
        <%= icon("info-line", role: "img", "aria-hidden": true) %>
      </div>
      <div class="banner__content">
        <p class="h3">Työn alla</p>
        <p>Huomioithan, että tämä osio on vielä työn alla eikä sisällä kaikkea toiminnallisuutta.</p>
      </div>
    </div>
  </div>
</div>
