<% provide(:title, translated_attribute(current_section.name)) %>

<% add_decidim_page_title(translated_attribute(current_section.name)) %>
<% add_decidim_meta_tags({
  description: strip_tags(translated_attribute(current_section.description)),
  url: areas_url(current_section.slug)
}) %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="columns small-12 medium-8">
        <div class="resource__main static__content">
          <div class="page-title">
            <h1><%= t(".title") %></h1>
          </div>

          <% if (description = translated_attribute(current_section.try(:description))).present? %>
            <%== description %>
          <% else %>
            <%= t(".description_html") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container cards-index-section">
    <div class="row">
      <%= render partial: "area", collection: areas %>
    </div>
  </div>
</div>
