<div class="card__info">
  <div class="card__info__item">
    <%= translated_attribute(model.area.name) %>
  </div>

  <% if model.category.present? %>
    <div class="card__info__item">
      <%= translated_attribute(model.category.name) %>
    </div>
  <% end %>
</div>
