<div class="card card--padded bg-tertiary">
  <h2 class="h5">T채m채 on Helsingin kaupungin alustava suunnitelma</h2>
  <p>T채lle sivustolle on ker채tty suunnitelmia, jotka kooltaan sopivat OmaStadi-budjettiin.</p>
</div>
