<%= header %>

<div class="card__main">
  <div class="<%= bubble_classes.join(" ") %>" data-hyphenate>
    <div class="bubble__content">
      <%= bubble_text %>
    </div>
  </div>
</div>

<%= footer %>
