<%= header %>

<div class="card__main">
  <div class="bubble bubble--large" data-hyphenate>
    <div class="bubble__content">
      <%= translated_attribute model.data %>
    </div>
  </div>
</div>

<%= footer %>
