<%= header %>

<div class="card__main">
  <div class="chart chart--column">
    <div class="chart__image" aria-hidden="true">
      <%= rendered_chart %>
    </div>
  </div>

  <%= render :a11y %>
</div>

<%= footer %>
