<%= header %>

<div class="card__main">
  <div class="number number--large text-center">
    <div class="number__value"><%= number_with_delimiter(value) %></div>
    <div class="number__label"><%= label %></div>
  </div>
</div>

<%= footer %>
