<div class="chart <%= chart_classes.join(" ") %>">
  <div class="chart__icon">
    <%= chart_icon %>
  </div>
  <div class="chart__image" aria-hidden="true">
    <%= rendered_chart %>
  </div>
</div>
